#container {
  border: 1px solid silver;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#start-button {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row {
  height: 10px;
  margin: 0;
  padding: 0;
  clear: both;
}

.tile {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.tile.wave {
  background-color: blue !important;
}

.tile:hover {
  background-color: #eee !important;
}